<p>
  Python has become the programming language of choice in atmosphere and ocean science (AOS).
  By consulting online tutorials and help pages,
  most researchers in this community are able to pick up the basic syntax and programming constructs.
  This self-taught knowledge is sufficient to get work done,
  but it often involves spending hours to do things that should take minutes,
  reinventing a lot of wheels,
  and a nagging uncertainty at the end of it all regarding the reliability and reproducibility of the results.
  To help address these issues,
  this workshop will cover a suite of programming best practices that aren’t so easy to glean from a quick Google search,
  before taking a deep dive on some of the most popular PyAOS libraries.
</p>
