<p>
  The first two days of the workshop will cover the basics of using Python for climate and meteorology,
  delivered by <a href="{{site.dc_site}}">Data Carpentry</a> instructors who work in the atmosphere and ocean sciences.
  The final two days of the workshop will be a deep dive on some of the most popular PyAOS libraries,
  delivered by the leading contributors to those open source packages.
  We recommend that people attend the first two days to get a grounding in the basics,
  and then any/all of the sessions on the final two days that are relevant to their research.
</p>

<div class="row">
  <div class="col-md-6">
    <h3>Day 1 (Tue 2 March): Data Carpentry (PyAOS)</h3>
    <table class="table table-striped">
      <tr><td>2:00 - 3:15</td> <td>Package Management, Data Visualisation</td></tr>
      <tr><td>3:15 - 3:30</td> <td>Break</td></tr>
      <tr><td>3:30 - 4:45</td> <td>Functions</td></tr>
      <tr><td>4:45 - 5:00</td> <td>Break</td></tr>
      <tr><td>5:00 - 6:00</td> <td>Command Line Programs</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 (Thu 4 March): Data Carpentry (PyAOS)</h3>
    <table class="table table-striped">
      <tr><td>2:00 - 3:15</td> <td>Version Control</td></tr>
      <tr><td>3:15 - 3:30</td> <td>Break</td></tr>
      <tr><td>3:30 - 4:45</td> <td>Vectorization, Defensive Programming</td></tr>
      <tr><td>4:45 - 5:00</td> <td>Break</td></tr>
      <tr><td>5:00 - 6:00</td> <td>Data Provenance, Large Data</td></tr>
    </table>
  </div>
</div>

<p>
The complete Data Carpentry lesson notes can be found at <a href="https://carpentrieslab.github.io/python-aos-lesson/">https://carpentrieslab.github.io/python-aos-lesson/</a>.
</p>

<div class="row">
  <div class="col-md-6">
    <h3>Day 3 (Tue 9 March): Meteorology with Python</h3>
    <table class="table table-striped">
      <tr><td>2:00 - 3:15</td> <td>MetPy (details TBC)</td></tr>
      <tr><td>3:15 - 3:30</td> <td>Break</td></tr>
      <tr><td>3:30 - 4:45</td> <td>MetPy (details TBC)</td></tr>
      <tr><td>4:45 - 5:00</td> <td>Break</td></tr>
      <tr><td>5:00 - 6:00</td> <td>MetPy (details TBC)</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4 (Thu 11 March): Remote sensing and high performance computing with Python</h3>
    <table class="table table-striped">
      <tr><td>2:00 - 3:15</td> <td>Python ARM Radar Toolkit (Py-ART)</td></tr>
      <tr><td>3:15 - 3:30</td> <td>Break</td></tr>
      <tr><td>3:30 - 4:45</td> <td>Python ARM Radar Toolkit (Py-ART)</td></tr>
      <tr><td>4:45 - 5:00</td> <td>Break</td></tr>
      <tr><td>5:00 - 6:00</td> <td>Pangeo (details TBC)</td></tr>
    </table>
  </div>
</div>
